html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Inter-Regular.ttf";
  src: local("Inter-Regular"), url(../fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-SemiBold.ttf";
  src: local("Forum-Regular"), url(../fonts/Inter-SemiBold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Inter-Bold.ttf";
  src: local("Forum-Regular"), url(../fonts/Inter-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
  position: relative;
}

.header_wrapper {
  margin: 0 40px 0;
}

.header_inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 18px 0 0 0;
}
.header_inner .header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 19px 0;
}
@media (max-width: 768px) {
  .header_inner .nav {
    display: none;
  }
}
.header_inner .burger_navigation {
  display: none;
  visibility: hidden;
}
@media (max-width: 768px) {
  .header_inner .burger_navigation {
    display: block;
    visibility: visible;
  }
}
@media (max-width: 660px) {
  .header_inner .burger_navigation {
    width: 740px;
  }
}
@media (max-width: 580px) {
  .header_inner .burger_navigation {
    width: 715px;
  }
}
@media (max-width: 500px) {
  .header_inner .burger_navigation {
    width: 685px;
  }
}
@media (max-width: 430px) {
  .header_inner .burger_navigation {
    width: 665px;
  }
}
@media (max-width: 430px) {
  .header_inner .burger_navigation {
    width: 655px;
  }
}
@media (max-width: 390px) {
  .header_inner .burger_navigation {
    width: 645px;
  }
}
.header_inner .header_menu__list {
  display: flex;
  gap: 43px;
}
.header_inner .header_menu__list .list_item__link {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #403f3d;
  cursor: pointer;
  position: relative;
}
.header_inner .header_menu__list .list_item__link:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #403f3d;
  transition: 0.3s ease-in-out;
}
@media (hover: hover) {
  .header_inner .header_menu__list .list_item__link:hover:after {
    width: 100%;
  }
}
.header_inner .header_logo {
  max-width: 100px;
  z-index: 5;
}
.header_inner .header_coffee__menu {
  display: flex;
  position: relative;
}
@media (max-width: 768px) {
  .header_inner .header_coffee__menu {
    display: none;
  }
}
.header_inner .header_coffee__menu::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #403f3d;
}
.header_inner .header_coffee__menu .coffee_menu__pics {
  width: 20px;
  height: 20px;
  background: url(../img/home_header__section/coffee_cup__icon.svg) no-repeat;
  background-size: cover;
}
.header_inner .header_coffee__menu .coffee_menu__link {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  color: #403f3d;
  margin-right: 8px;
  cursor: default;
}

.burger {
  width: 43px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid #665f55;
  position: relative;
  display: none;
  z-index: 5;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger::before {
  content: "";
  width: 17px;
  height: 1.5px;
  background-color: #403f3d;
  stroke-width: 1.5px;
  top: 42%;
  left: 52%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 4;
  transition: 0.3s ease-in-out;
}
.burger::after {
  content: "";
  width: 17px;
  height: 1.5px;
  background-color: #403f3d;
  stroke-width: 1.5px;
  bottom: 36%;
  left: 52%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 4;
  transition: 0.3s ease-in-out;
}

.header_menu.open .burger {
  width: 43px;
  height: 43px;
  border-radius: 100px;
  border: 1px solid #665f55;
  position: relative;
  display: none;
  z-index: 5;
}
@media (max-width: 768px) {
  .header_menu.open .burger {
    display: block;
  }
}
.header_menu.open .burger::before {
  content: "";
  width: 17px;
  height: 1.5px;
  background-color: #403f3d;
  stroke-width: 1.5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  z-index: 4;
  transition: 0.3s ease-in-out;
}
.header_menu.open .burger::after {
  content: "";
  width: 17px;
  height: 1.5px;
  background-color: #403f3d;
  stroke-width: 1.5px;
  bottom: 46%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  z-index: 4;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .burger_navigation {
    width: 768px;
    height: 100%;
    background: #e1d4c9;
    position: fixed;
    top: 0;
    right: -768px;
    z-index: 4;
    transition: 0.3s ease-in-out;
  }
  .burger_navigation .burger_navigation__wrapper {
    max-width: 450px;
    padding: 161.203px 0 60.004px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
  }
  .burger_navigation .burger_navigation__wrapper .burger_list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .burger_navigation .burger_navigation__wrapper .burger_menu__link {
    text-decoration: none;
    font-family: "Inter-Regular.ttf";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403f3d;
  }
  .burger_navigation .burger_menu__box {
    display: flex;
    gap: 15.997px;
  }
  .burger_navigation .burger_menu__box .burger_menu__text {
    text-decoration: none;
    font-family: "Inter-Regular.ttf";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #403f3d;
  }
  .burger_navigation .burger_menu__box .burger_menu__icon {
    background: url(../img/home_header__section/coffee_cup__icon.svg) no-repeat;
    width: 39.997px;
    height: 39.997px;
    background-size: cover;
    background-position: center;
  }
  .header_menu.open .burger_navigation {
    transform: translate(-100%);
  }
}
.main_wrapper {
  margin: 0 40px 0;
}

.main_inner {
  max-width: 1360px;
  margin: 0 auto;
}

.offer {
  margin-bottom: 100px;
}

.offer_tabs {
  margin: 40px 0 37px;
}
.offer_tabs .offer_tabs__wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.offer_title {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter-Regular.ttf";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  letter-spacing: 0.7px;
}
@media (max-width: 768px) {
  .offer_title {
    font-size: 3rem;
  }
}
@media (max-width: 580px) {
  .offer_title {
    font-size: 2.5rem;
  }
}
@media (max-width: 380px) {
  .offer_title {
    font-size: 2rem;
  }
}

.tabs_item {
  max-width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 8px 16px 8px 8px;
  border: 1px solid #c1b6ad;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media (hover: hover) {
  .tabs_item:hover {
    background-color: #665f55;
  }
  .tabs_item:hover > .tabs_item__icon {
    background-color: #e1d4c9;
  }
  .tabs_item:hover > .tabs_item__text {
    color: #e1d4c9;
  }
}
.tabs_item .tabs_item__icon {
  width: 30px;
  height: 30px;
  background-color: #c1b6ad;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.tabs_item .tabs_item__icon .img_icon__tabs {
  max-width: 16px;
  max-height: 24px;
}
.tabs_item .tabs_item__text {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  transition: 0.3s ease-in-out;
}

.active {
  background-color: #665f55;
  border: 1px solid transparent;
}

.active > .tabs_item__icon {
  background-color: #e1d4c9;
}

.active > .tabs_item__text {
  color: #e1d4c9;
}

.coffee_container__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
@media (max-width: 1200px) {
  .coffee_container__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 930px) {
  .coffee_container__wrapper {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (max-width: 580px) {
  .coffee_container__wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.coffee_container__wrapper .menu_coffee__item {
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  cursor: pointer;
}
@media (max-width: 768px) {
  .coffee_container__wrapper .menu_coffee__item:nth-child(5), .coffee_container__wrapper .menu_coffee__item:nth-child(6), .coffee_container__wrapper .menu_coffee__item:nth-child(7), .coffee_container__wrapper .menu_coffee__item:nth-child(8) {
    display: none;
  }
}
@media (max-width: 930px) {
  .coffee_container__wrapper .menu_coffee__item {
    max-width: 340px;
  }
}
@media (hover: hover) {
  .coffee_container__wrapper .menu_coffee__item:hover .item_img {
    transform: scale(1);
  }
}
.coffee_container__wrapper .menu_coffee__item .menu_coffee__description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.coffee_container__wrapper .menu_coffee__item .menu_coffee__description .coffee_description__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.coffee_container__wrapper .menu_coffee__item .menu_coffee__description .coffee_description__title .description_subtitle {
  font-family: "Inter-Regular.ttf";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.coffee_container__wrapper .menu_coffee__item .menu_coffee__description .coffee_description__title .description_text {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #403f3d;
}
.coffee_container__wrapper .menu_coffee__item .menu_coffee__description .description_price {
  font-family: "Inter-Regular.ttf";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
}
.coffee_container__wrapper .item_pics {
  overflow: hidden;
  border-radius: 40px;
}
.coffee_container__wrapper .item_pics .item_img {
  border-radius: 40px;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}
@media (max-width: 930px) {
  .coffee_container__wrapper .item_pics .item_img {
    transform: scale(1);
  }
}

.refresh_button {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 100px;
  display: none;
}
@media (max-width: 768px) {
  .refresh_button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  padding-bottom: 40px;
}

.footer_wrapper {
  margin: 0 40px;
}
@media (max-width: 550px) {
  .footer_wrapper {
    margin: 0 2.909vw 0;
  }
}
@media (max-width: 380px) {
  .footer_wrapper {
    margin: 0 3.909vw 0;
  }
}

.footer_inner {
  max-width: 1360px;
  margin: 0 auto;
  border-radius: 40px;
  background: #665f55;
  padding: 100px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .footer_inner {
    padding: 100px 60px;
  }
}
@media (max-width: 380px) {
  .footer_inner {
    padding: 60px 17px;
  }
}
.footer_inner .footer_container {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media (max-width: 768px) {
  .footer_inner .footer_container {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 380px) {
  .footer_inner .footer_container {
    gap: 40px;
  }
}
.footer_inner .footer_container .footer_social {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 37px;
  flex: 1 0 0;
}
@media (max-width: 380px) {
  .footer_inner .footer_container .footer_social {
    gap: 42px;
  }
}
.footer_inner .footer_container .footer_social .social_title {
  font-family: "Inter-Regular.ttf";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
  letter-spacing: 0.5px;
}
@media (max-width: 1000px) {
  .footer_inner .footer_container .footer_social .social_title {
    font-size: 5vw;
  }
}
@media (max-width: 768px) {
  .footer_inner .footer_container .footer_social .social_title {
    font-size: 8vw;
    letter-spacing: 0;
  }
}
@media (max-width: 380px) {
  .footer_inner .footer_container .footer_social .social_title {
    letter-spacing: 1px;
  }
}
.footer_inner .footer_container .footer_social .social_title span {
  color: #b0907a;
  font-style: italic;
}
.footer_inner .footer_container .footer_social .social_networks__list {
  display: flex;
  gap: 12px;
}
.footer_inner .footer_container .footer_social .social_item__link {
  text-decoration: none;
  border-radius: 100px;
}
.footer_inner .footer_container .footer_social .social_networks__item {
  max-width: 60px;
  max-height: 60px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer_inner .footer_container .footer_social .social_networks__item {
    max-width: 24px;
    max-height: 24px;
  }
}
@media (hover: hover) {
  .footer_inner .footer_container .footer_social .social_networks__item:hover {
    background-color: #e1d4c9;
  }
  .footer_inner .footer_container .footer_social .social_networks__item:hover path {
    stroke: #403f3d;
  }
}
.footer_inner .footer_container .footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  margin: 0 0 9px 0;
}
@media (max-width: 768px) {
  .footer_inner .footer_container .footer_contacts {
    gap: 38px;
  }
}
.footer_inner .footer_container .contacts_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer_inner .footer_container .contacts_subtitle {
  font-family: "Inter-Regular.ttf";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #e1d4c9;
}
.footer_inner .footer_container .contacts_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  position: relative;
}
.footer_inner .footer_container .contacts_link:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #e1d4c9;
  transition: 0.4s ease-in-out;
}
@media (hover: hover) {
  .footer_inner .footer_container .contacts_link:hover:after {
    width: 100%;
  }
}
.footer_inner .footer_container .contacts_link .contacts_icon {
  background: url(../img/home_contacts__section/location_icon.svg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.footer_inner .footer_container .contacts_link .phone_icon {
  background: url(../img/home_contacts__section/phone_icon.svg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.footer_inner .footer_container .contacts_link .contacts_info__text {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
  letter-spacing: 0.3px;
}
.footer_inner .footer_container .contacts_item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_inner .footer_container .contacts_item .clock_icon {
  background: url(../img/home_contacts__section/clock_icon.svg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.footer_inner .footer_container .contacts_item .contacts_info__text {
  font-family: "Inter-Regular.ttf";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #e1d4c9;
}

.modal_window {
  width: 800px;
  height: 505px;
  background: rgb(225, 212, 201);
  border-radius: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  z-index: 5;
}
.modal_window .modal_wrapper {
  display: flex;
  gap: 16px;
}
.modal_window .modal_wrapper .modal_pics {
  max-width: 340px;
  max-height: 340px;
}
.modal_window .modal_wrapper .modal_pics .modal_img {
  border-radius: 20px;
}
.modal_window .modal_wrapper .modal_description__block {
  display: flex;
  flex-direction: column;
}
.modal_window .modal_wrapper .modal_description__block .modal_title {
  font-family: "Inter-Regular.ttf";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .modal_title {
    font-size: 21px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .modal_title {
    font-size: 20px;
  }
}
.modal_window .modal_wrapper .modal_description__block .modal_description {
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  margin: 12px 0 20px;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .modal_description {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .modal_description {
    font-size: 13px;
  }
}
.modal_window .modal_wrapper .modal_description__block .size_section {
  margin-bottom: 20px;
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_subtitle {
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  margin-bottom: 8px;
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 116px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  border: 1px solid rgb(193, 182, 173);
  transition: 0.3s ease-in-out;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab {
    font-size: 13px;
    padding: 5px 10px 5px 5px;
  }
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab:hover {
  background: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab:hover p {
  background: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab p {
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: rgb(193, 182, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(64, 63, 61);
  transition: 0.3s ease-in-out;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab p {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab p {
    font-size: 13px;
  }
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab.active {
  background: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
  border: 1px transparent;
}
.modal_window .modal_wrapper .modal_description__block .size_section .size_tabs .size_tab.active p {
  background: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .additives_section {
  margin-bottom: 20px;
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_subtitle {
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  margin-bottom: 8px;
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  transition: 0.3s ease-in-out;
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: 116px;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  cursor: pointer;
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(64, 63, 61);
  border: 1px solid rgb(193, 182, 173);
  transition: 0.3s ease-in-out;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab {
    font-size: 13px;
    padding: 5px 10px 5px 5px;
  }
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab:hover {
  background: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab:hover p {
  background: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab p {
  font-family: "Inter-Regular.ttf";
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: rgb(193, 182, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(64, 63, 61);
  transition: 0.3s ease-in-out;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab p {
    font-size: 14px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab p {
    font-size: 13px;
  }
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab.active {
  background: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
  border: 1px transparent;
}
.modal_window .modal_wrapper .modal_description__block .additives_section .additives_tabs .additives_tab.active p {
  background: rgb(225, 212, 201);
}
.modal_window .modal_wrapper .modal_description__block .modal_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.modal_window .modal_wrapper .modal_description__block .modal_total .total_title,
.modal_window .modal_wrapper .modal_description__block .modal_total .total_sum {
  font-family: "Inter-Regular.ttf";
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .modal_total .total_title,
  .modal_window .modal_wrapper .modal_description__block .modal_total .total_sum {
    font-size: 22px;
  }
}
@media (max-width: 390px) {
  .modal_window .modal_wrapper .modal_description__block .modal_total .total_title,
  .modal_window .modal_wrapper .modal_description__block .modal_total .total_sum {
    font-size: 20px;
  }
}
.modal_window .modal_wrapper .modal_description__block .discount {
  display: flex;
  gap: 0.5rem;
  border-top: 1px solid rgb(193, 182, 173);
  box-sizing: border-box;
  padding-top: 12px;
  margin-bottom: 20px;
}
.modal_window .modal_wrapper .modal_description__block .discount .discount_icon {
  background-image: url(../img/info_empty.svg);
  width: 30px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .modal_window .modal_wrapper .modal_description__block .discount .discount_icon {
    width: 40px;
  }
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .discount .discount_icon {
    width: 55px;
  }
}
.modal_window .modal_wrapper .modal_description__block .discount .discount_description {
  font-family: "Inter-Regular.ttf";
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
@media (max-width: 430px) {
  .modal_window .modal_wrapper .modal_description__block .discount .discount_description {
    font-size: 9px;
  }
}
.modal_window .modal_wrapper .modal_description__block .modal_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 78px 10px 78px;
  box-sizing: border-box;
  border: 1px solid rgb(102, 95, 85);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(64, 63, 61);
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal_window .modal_wrapper .modal_description__block .modal_button:hover {
  background: rgb(102, 95, 85);
  color: rgb(225, 212, 201);
}

.modal_window.active {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .modal_window {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .modal_window {
    width: 550px;
    height: 610px;
    top: 50%;
    left: 50%;
  }
  .size_tabs,
  .additives_tabs {
    max-width: 326px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 600px) {
  .modal_window {
    width: 400px;
  }
  .modal_img__block {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .modal_window {
    width: 282px;
  }
}
@media screen and (max-width: 412px) {
  .modal_window {
    width: 282px;
  }
}
@media screen and (max-width: 390px) {
  .modal_window {
    width: 282px;
    height: 560px;
  }
}
.blur.active {
  filter: blur(8px);
  pointer-events: none;
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=menu_page.css.map */