@font-face {
    font-family: 'Inter-Regular.ttf';
    src: local('Inter-Regular'), url(../fonts/Inter-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-SemiBold.ttf';
    src: local('Forum-Regular'), url(../fonts/Inter-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inter-Bold.ttf';
    src: local('Forum-Regular'), url(../fonts/Inter-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}




